.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  align-items: start;
  justify-content: center;
}
.modal {
  width: 100%;
  max-width: 600px;
  background-color: #666;
  border-radius: 5px;
  padding: 20px;
  margin: 30px 0 0 0;
}

.open-modal-button {
  border: none;
  background-color: #ccc;
  color: #222;
  padding: 2px;
  line-height: 1;
  font-size: 3em;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.4s;
}

.open-modal-button:hover {
  background-color: #222;
  color: #ccc;
  border: solid 1px #ccc;
}

.add-note-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.add-note-form label {
  font-size: 1.3em;
}
.add-note-form label input,
.add-note-form label textarea {
  width: 100%;
  font-size: 0.8em;
}
.add-note-form label textarea {
  height: 7em;
}

.add-note-button {
  background-color: #494;
}
.cancel-button {
  background-color: #944;
}
